*.ada			diff=ada
*.adb			diff=ada
*.ads			diff=ada
*.bash			diff=bash
*.bibtex		diff=bibtex
*.c			diff=c
*.c++			diff=cpp
*.cc			diff=cpp
*.cpp			diff=cpp
*.cs			diff=csharp
*.css			diff=css
*.cxx			diff=cpp
*.ex			diff=elixir
*.exs			diff=elixir
*.f			diff=fortran
*.f03			diff=fortran
*.f90			diff=fortran
*.f95			diff=fortran
*.for			diff=fortran
*.fountain		diff=fountain
*.go			diff=golang
*.gradle		diff=java
*.gradle.kts		diff=java
*.h			diff=c
*.h++			diff=cpp
*.hh			diff=cpp
*.hpp			diff=cpp
*.htm			diff=html
*.html			diff=html
*.java			diff=java
*.m			diff=objc
*.md			diff=markdown
*.mu			diff=matlab
*.p			diff=pascal
*.pas			diff=pascal
*.php			diff=php
*.php3			diff=php
*.php4			diff=php
*.php5			diff=php
*.phtml			diff=php
*.pl			diff=perl
*.pm			diff=perl
*.pp			diff=pascal
*.pxd			diff=python
*.py			diff=python
*.py3			diff=python
*.pyi			diff=python
*.pyw			diff=python
*.pyx			diff=python
*.pyz			diff=python
*.rb			diff=ruby
*.scss			diff=css
*.sh			diff=bash
*.swift			diff=swift
*.tex			diff=tex
*.xhtml			diff=html

Gemfile			diff=ruby
Rakefile		diff=ruby
