[user]
	email = fryguy9@gmail.com
	name = Jason Frey
[color]
	ui = auto
	diff = auto
[core]
	excludesfile = /Users/jfrey/.gitignore_global
	pager = less -FX
[difftool "diffmerge"]
	cmd = diffmerge --nosplash \"$LOCAL\" \"$REMOTE\"
[mergetool "diffmerge"]
	cmd = diffmerge --merge --result=\"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"
	trustExitCode = true
[merge]
	tool = diffmerge
	renamelimit = 99999
[github]
	user = Fryguy
	token = 
[color "diff"]
	whitespace = red reverse
[credential]
	helper = osxkeychain
[pull]
	rebase = true
[push]
	default = simple
[status]
	short = true
	branch = true
[grep]
	lineNumber = true
[diff]
	algorithm = patience
[rebase]
	autosquash = true
[help]
	autocorrect = 1
[rerere]
	enabled = 1
