[user]
	email = fryguy9@gmail.com
	name = Jason Frey
	signingkey = A9EB12497632AA7B
[color]
	ui = auto
	diff = auto
[core]
	excludesfile = ~/.gitignore_global
	pager = less -FX
	attributesfile = ~/.gitattributes
[merge]
	renamelimit = 99999
[pull]
	rebase = true
[push]
	default = simple
[status]
	short = true
	branch = true
[grep]
	lineNumber = true
[diff]
	algorithm = patience
[diff "gpg"]
	textconv = gpg --no-tty --decrypt --quiet
[rebase]
	autosquash = true
[help]
	autocorrect = 1
[rerere]
	enabled = 1
[alias]
	lg = log --graph --pretty=format:\"%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(cyan)<%an>%Creset\"
	mr = !sh -c 'git fetch --force --update-head-ok ${2:-upstream} merge-requests/$1/head:mr-$1 && git checkout mr-$1' -
	pr = !sh -c 'git fetch --force --update-head-ok ${2:-upstream} pull/$1/head:pr-$1 && git checkout pr-$1' -
[log]
	follow = true
[commit]
	gpgsign = true
	template = ~/.stCommitMsg
[branch]
	sort = -committerdate
[advice]
	detachedHead = false
[include]
	path = ~/.gitconfig_platform
	path = ~/.gitconfig_tokens
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
