[user]
	email = fryguy9@gmail.com
	name = Jason Frey
[color]
	ui = auto
	diff = auto
[gui]
	recentrepo = /Users/jfrey/projects/github/ManageIQ/rubyrep
	recentrepo = /Users/jfrey/dev
[core]
	excludesfile = /Users/jfrey/.gitignore_global
	pager = less -FX
[difftool "sourcetree"]
	cmd = /Applications/DiffMerge.app/Contents/MacOS/DiffMerge --nosplash \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/DiffMerge.app/Contents/MacOS/DiffMerge --merge --result=\"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"
	trustExitCode = true
[mergetool "diffmerge"]
	cmd = diffmerge --merge --result=$MERGED $LOCAL $BASE $REMOTE
	trustExitCode = false
[merge]
	tool = diffmerge
[color "diff"]
	whitespace = red reverse
[credential]
	helper = osxkeychain
[pull]
	rebase = true
[push]
	default = simple
[status]
	short = true
	branch = true
[grep]
	lineNumber = true
[diff]
	algorithm = patience
[rebase]
	autosquash = true
[help]
	autocorrect = 1
